@font-face {
  font-family: InterBold;
  src: url("../src/assets/fonts/Inter-Bold.ttf");
}

@font-face {
  font-family: InterRegular;
  src: url("../src/assets/fonts/Inter-Regular.ttf");
}

@font-face {
  font-family: InterSemiBold;
  src: url("../src/assets/fonts/Inter-SemiBold.ttf");
}

.App {
  text-align: center;
  background-color: #F5F5F6;
  height: 100%;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

#root {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: row;
  height: 100%;
}

aside {
  background-color: #F2EBF9;
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: left;
  flex-direction: column;
}

main {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
}

.logo {
  display: flex;
  width: 60%;
  padding-left: 5%;
  padding-top: 10%;
}

.menu {
  display: flex;
  flex-direction: column;
  padding-top: 50%;
  padding-left: 5%;
  width: 80%;
  height: 100%;
  justify-content: left;
  gap: 2%;
}

.navItem {
  width: 100%;
  background-color: #F5F5F6;
  border-radius: 8px;
  font-family: "InterRegular";
  font-size: 16px;
  text-align: left;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.title {
  font-family: "InterBold";
  font-size: 48px;
  width: 100px;
  padding-left: 10%;
  padding-top: 5%;
}

.filter_panel {
  padding-top: 1%;
  padding-left: 10%;
  width: 80%;
  font-family: "InterBold";
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 1%;
}

.filter_item {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.filter_item__title {
  text-align: left;
}

.filter_item__select {
  width: 100%;
  display: flex;
  gap: 1%;
  border-radius: 8px;
  height: 42px;
}

.film_cards {
  width: 80%;
  height: 40%;
  padding-top: 5%;
  padding-left: 10%;
  gap: 1%;
  display: flex;
}

.film_item {
  width: 100%;
  height: 218px;
  border-radius: 12px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  background-color: #FFFFFF;
}

.filmImg {
  height: 80%;
  width: 25%;
  padding-top: 5%;
  padding-left: 5%;
}

.filmSummary {
  width: 70%;
  display: flex;
  flex-direction: column;
  padding-left: 5%;
}

.film_title {
  color: #9854F6;
  font-family: "InterSemibold";
  font-size: 24px;
  display: flex;
  width: 100%;
  height: 25%;
  flex-grow: 1;
  vertical-align: top;
}

.year_relise {
  color: #7B7C88;
  font-family: "InterRegular";
  font-size: 20px;
  display: flex;
  width: 100%;
  height: 25%;
  flex-grow: 1;
  vertical-align: top;
}
